{% extends "base.html" %}

{% load i18n %}
{% load allauth account socialaccount %}

{% block content %}
    
<div class="auth-card-container d-flex justify-content-center align-items-center mx-3 mx-sm-0">
    <div class="card auth-card">
        <div class="card-body">
            <h5 class="card-title">{% trans "Login" %}</h5>
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="card-subtitle text-body-secondary">{% blocktrans %}You do not have an account with us?</h6>
                <a href="{{ signup_url }}" class="btn btn-primary">Sign up</a> {% endblocktrans %}
            </div>
            
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-flex justify-content-end">
                    <button class="btn btn-secondary right" type="submit">{% trans "Sign In" %}></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
