{% extends "base.html" %}

{% load allauth i18n socialaccount %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}

<div class="auth-card-container d-flex justify-content-center align-items-center mx-3 mx-sm-0">
    <div class="card auth-card-signup">
        <div class="card-body">
            <h5 class="card-title">{% trans "Sign Up" %}</h5>
            <form class="login" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                <h6 class="card-subtitle mb-2 text-body-secondary">Already have an account?</h6>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'create_profile' %}" />
                {% endif %}
                <div class="d-flex justify-content-between">
                    {% blocktrans %}<a href="{{ login_url }}" class="btn btn-primary">Login</a>.{% endblocktrans %}
                    <button class="btn btn-secondary" type="submit">{% trans "Sign Up" %}></button>
                </div>
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}
