body {
    color: #000;
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* -- index styling -- */

.carousel .carousel-inner {
    height: 100vh;
}

.carousel-inner img {
    height: 100vh;
}

/* -- navbar styling -- */

.navbar-text a {
    display: inline-block;
}

/* -- footer styling -- */

.footer {
    display: flex;
    flex-direction: row;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a {
    text-decoration: none;
    font-size: 150%;
    font-weight: 500;
    margin: 10px 20px;
    color: inherit;
}

/* about us styling */

.about-us-container {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

/* -- board page styling -- */

.community-container {
    margin-top: 60px;
}

.board_filter_container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.filter-card {
    width: 100%;
    position: sticky;
    overflow-y: auto;
    top: 80px;
    margin-top: 20px;
}

.checkbox-display {
    display: flex;
    flex-direction: column;
}

.form-check-label {
    text-align: left;
}

.scrollable-column{
    padding-bottom: 60px;
}

.post-card {
    margin-top: 20px;
}

.comment-form-divs {
    display: flex;
}

.comment-form-divs p {
    margin: 0;
}

.form-label {
    line-height: 1.5;
    padding: 0.375rem 0.75rem;  
    margin: 0;
}

.comment-form-divs div {
    display: flex;
    margin-right: 10px;
}

textarea {
    resize: none;
}

.btn-post {
    display: flex;
}

.card-header {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.username-info {
    display: flex;
}

/* .username-info div {
    margin-right: 10px;
} */

.post-header-content {
    margin-right: 10px;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn.dropdown-toggle-split:first-child,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.option-btn-group {
    margin-right: 0;
}

.option-btn {
    border: none;
}



.badge {
    margin-right: 10px;
}

.card-title {
    text-align: left;
}

.card-text {
    text-align: left;
    margin-top: 0.5rem;
}

.country {
    display: flex;
    justify-content: left;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
}

.post-button {
    margin: 0 10px;
}

.post-button i {
    margin-right: 5px;
}

.btn a {
    text-decoration: none;
    color: #000;
}


/* like and commetn buttons styling */
.like-form {
    margin-bottom: 0;
    margin-right: 5px;
}

.comment-form {
    width: 100%;
}

.user-comment-area {
    display: none;
}

.display-modal {
    display: block;
}

.comment-submit {
    margin-top: 0.5rem;
}

.comments-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* profile stylying */

#edit-profile-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close-popup {
    visibility: hidden;
}

/* contactus styling */

.contact-container {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 80%;
}