{% extends "base.html" %}

{% block content %}

<!-- About Us Page -->
<section class="about-us-container">
    <div class="container">
        <!-- Introduction Section -->
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-title">Welcome to Our Travel Community!</h2>
                <p class="section-description">Discover a vibrant community where travel enthusiasts come together to
                    share their journeys and connect with like-minded adventurers.</p>
            </div>
        </div>

        <!-- What We Offer Section -->
        <div class="row mt-5">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-title">What You Can Do Here</h2>
                <ul class="list-unstyled">
                    <li><i class="fas fa-check-circle text-success"></i> Post your travel experiences on our Board.</li>
                    <li><i class="fas fa-check-circle text-success"></i> Engage with other travelers through comments
                        and discussions.</li>
                    <li><i class="fas fa-check-circle text-success"></i> Create your own personalized dashboard to
                        manage your posts and interactions.</li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endblock %}