{% extends "base.html" %}

{% block content %}

{% load custom_filters %}

<div class="container community-container">

    <!-- error messages display area -->
    <div class="row px-3">
        {% if messages %}
        <div class="alert alert-success col post-board-alerts" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </div>
        {% elif post_form.errors %}
        <div class="alert alert-danger col post-board-alerts" role="alert">
            <strong>Your Post was not received!</strong>
            <ul>
                {% for field, error_list in post_form.errors.items %}
                {% for error in error_list %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% elif edit_post_form.errors %}
        <div class="alert alert-danger col post-board-alerts" role="alert">
            <strong>Your Post was not edited!</strong>
            <ul>
                {% for field, error_list in edit_post_form.errors.items %}
                {% for error in error_list %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <!-- filter card for larger screens -->
        <div class="col-md-4 d-none d-md-block">
            <div class="card filter-card mt-3">
                <form method="get">
                    {% csrf_token %}
                    <div class="card-body">
                        <h5 class="card-title text-left">Filter</h5>
                    </div>
                    <div class="accordion px-2" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseOne">
                                    Type of Holiday
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                <div class="accordion-body d-flex flex-column">
                                    {% for tag_value, tag_label in filter_tags %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="{{ tag_value }}" id="holiday_type{{ tag_value }}" name="holiday_type">
                                        <label class="text-left" for="holiday_type{{ tag_value }}">
                                            {{ tag_label }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                    World area
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                <div class="accordion-body d-flex flex-column">
                                    {% for area_value, area_label in filter_areas %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="{{ area_value }}" id="world_area{{ area_value }}"
                                            name="world_area">
                                        <label class="text-left" for="world_area{{ area_value }}">
                                            {{ area_label }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <button type="reset" class="btn btn-success">Clear filters</button>
                        <button type="submit" class="btn btn-secondary mt-md-1 mt-lg-0">Apply filters</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- area to create posts and display posts -->
        <div class="col-md-8 mb-4 pb-5">
            {% if user.is_authenticated %}
            <div class="card mt-3">
                <h5 class="card-header">Create post - @{{ request.user.username }}</h5>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3 d-flex flex-column justify-content-between">
                            <div class="mb-3">
                                {{ post_form.title }}
                            </div>
                            <div>
                                {{ post_form.country }}
                            </div>
                        </div>
                        <div class="mb-3 d-flex flex-column flex-sm-row justify-content-between">
                            <div class="btn-group col-12 col-sm mb-3 mb-sm-0">
                                {{ post_form.tags }}
                            </div>
                            <div class="d-none d-sm-block col-sm-1"></div>
                            <div class="btn-group col-12 col-sm">
                                {{ post_form.world_area }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                {{ post_form.content }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="submit" class="btn btn-secondary">Post!</button>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="card mt-3">
                <h5 class="card-header">Do you want to share your experience?</h5>
                <div class="card-body">
                    <h6 class="card-title text-left">Create an account to post, comment and like posts!</h6>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'account_login' %}" class="btn btn-primary me-1">Login</a> 
                        <a href="{% url 'account_signup' %}" class="btn btn-secondary">Sign-up</a>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- filter button display for medium to small screens -->
            <div class="mt-2 d-flex d-md-none">
                <div class="col-9 p-2">
                    <hr>
                </div>
                <div class="col-1 d-flex justify-content-center align-items-center p-0">
                    <button class="btn btn-primary" id="filter-posts" data-toggle="modal" data-target="#filterModal">
                        <i class="fa-solid fa-filter"></i>
                    </button>
                </div>
                <div class="col-2 p-2">
                    <hr>
                </div>
            </div>

            <!-- posts display -->
            {% for post in posts %}
            <div class="card mt-4">
                <div class="card-header d-flex px-2 px-md-3">
                    <div class="d-flex">
                        <div class="me-1">
                            <a class="profile-link" href="{% url 'profile_detail' username=post.author %}">@{{ post.author }}</a>
                        </div>
                        <div>
                            {{ post.created_on|custom_timesince }}
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="me-1 post-tags">
                            {{ post.tags }}
                        </div>
                        {% if request.user.id == post.author.id %}
                        <div class="btn-group me-0">
                            <button class="btn btn-outline-secondary border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                            <ul class="dropdown-menu post-options">
                                <li><button class="dropdown-item edit-post-btn" data-post-id="{{ post.slug }}">Edit Post</button></li>
                                <li><button class="dropdown-item delete-post-btn" data-post-id="{{ post.slug }}">Delete Post</button></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-left post-title">{{ post.title }}</h5>
                    <div class="d-flex justify-content-start">
                        <span class="badge me-2 post-area">{{ post.world_area }}</span>
                        <span class="badge post-country">{{ post.country }}</span>
                    </div>
                    <p class="card-text text-left mt-1 post-content">
                        {{ post.content }}
                    </p>
                    {% if post.edited %}
                    <p class="fst-italic">(edited)</p>
                    {% endif %}
                </div> 
                <div class="card-footer">
                    {% if user.is_authenticated %}
                    <form method="POST" class="mb-0 me-1">

                        {% csrf_token %} 

                        <input type="hidden" name="blogpost_id_like" value="{{post.slug}}">
                        <button type="submit" class="btn btn-outline-danger">
                            {% if post|user_liked_post:request.user %}
                            <i class="fa-solid fa-heart"></i>
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </button>
                    </form>
                        
                    {% else %}

                    <button type="button" class="btn btn-outline-danger me-1 display-comment-btn" data-post-id="{{ post.id }}">
                        <i class="fa-regular fa-heart"></i>
                        <span class="text-secondary">{{ post.number_of_likes }} </span>
                    </button>
                        
                    {% endif %}
                    
                    <button class="btn btn-outline-primary display-comment-btn" data-post-id="{{ post.id }}">
                        <i class="fa-regular fa-comment"></i> Comment
                    </button>
                </div>
                <div class="card-footer text-body-secondary user-comment-area" data-post-id="{{ post.id }}">
                    {% if user.is_authenticated %}
                    <form method="POST" class="d-flex flex-column align-items-center">
                        {% csrf_token %}
                        
                        <input type="hidden" name="blogpost_id_comment" value="{{post.slug}}">
                        {{ comment_form.body }}
                        <button type="submit" class="btn btn-secondary mt-2 comment-submit">Comment!</button>
                    </form>
                    {% else %}
                    <p>Please <a href="{% url 'account_login' %}">login</a> to be able to like or comment a post</p>
                    {% endif %}
                </div>
                    
                <!-- this is the area for the display of comments -->
                {% for comment in post_comments|key:post.id %}
                <div class="card-footer d-flex flex-column align-items-start px-2 px-md-3">
                    <div>
                        <a class="profile-link" href="{% url 'profile_detail' username=post.author %}">@{{ comment.author }}</a> {{ comment.created_on|custom_timesince }}
                    </div>
                    <div>
                       {{ comment.body }}
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- delete post modal -->
            <div class="modal fade" id="deletePostModal-{{ post.slug }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete post?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure do you want to delete the folloing post:</p>
                            <strong>"{{ post.title }}"</strong>
                            <p class="mt-3">Note that all reactions including comments will also be deleted.</p>
                        </div>
                        <form method="post" action="{% url 'delete_post' %}" class="modal-footer delete-post-form">
                            {% csrf_token %}
                            <input type="hidden" name="delete_post_id" id="delete-post-id-input-{{ post.slug }}" value="{{post.slug}}">
                            <button type="button" class="btn btn-danger delete-post">Yes, delete my post</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- edit post modal -->
            <div class="modal fade" id="editPostModal-{{ post.slug }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Post: {{ post.title }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" class="edit-post-form">
                            <div class="modal-body">
                                {% csrf_token %}
                                <div class="mb-3 edit-post-country-input">
                                    {{ edit_post_form.country }}
                                </div>
                                <div class="mb-3 d-flex flex-column flex-sm-row justify-content-between">
                                    <div class="btn-group col-12 col-sm mb-3 mb-sm-0 edit-post-tags-input">
                                        {{ edit_post_form.tags }}
                                    </div>
                                    <div class="d-none d-sm-block col-sm-1"></div>
                                    <div class="btn-group col-12 col-sm edit-post-area-input">
                                        {{ edit_post_form.world_area }}
                                    </div>
                                </div>
                                <div class="mb-3 d-flex edit-post-content-input">
                                    {{ edit_post_form.content }}
                                </div>
                                <div class="d-flex justify-content-end">
                                    <input type="hidden" name="edit_post_id" id="edit-post-id-input-{{ post.slug }}" value="{{post.slug}}">
                                    <button type="button" class="btn btn-secondary d-flex edit-post">Edit post</button>                                        
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- filter modal for medium to small screens-->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Filter Posts</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="get">
                            {% csrf_token %}
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseOne">
                                            Type of Holiday
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                        <div class="accordion-body d-flex flex-column">
                                            {% for tag_value, tag_label in filter_tags %}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="{{ tag_value }}"
                                                    id="holiday_type{{ tag_value }}" name="holiday_type">
                                                <label class="text-left" for="holiday_type{{ tag_value }}">
                                                    {{ tag_label }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                            World area
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                        <div class="accordion-body d-flex flex-column">
                                            {% for area_value, area_label in filter_areas %}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="{{ area_value }}"
                                                    id="world_area{{ area_value }}" name="world_area">
                                                <label class="text-left" for="world_area{{ area_value }}">
                                                    {{ area_label }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 d-flex justify-content-center">
                                <button type="reset" class="btn btn-success me-2">Clear filters</button>
                                <button type="submit" class="btn btn-secondary">Apply filters</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}