{% extends "base.html" %}

{% block content %}

{% load custom_filters %}

{% if user_profile.profile_completed %}
<!-- Only display if the profile to be accessed is completed -->
<!-- error messages display area -->
<div class="container community-container">
    <div class="row px-3">
        {% if messages %}
        <div class="alert alert-success col post-board-alerts" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% elif post_form.errors %}
        <div class="alert alert-danger col post-board-alerts" role="alert">
            <strong>Your Post was not received!</strong>
            <ul>
                {% for field, error_list in post_form.errors.items %}
                {% for error in error_list %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <!-- user profile -->
        <div class="col-md-4">
            <div class="card filter-card mt-3">
                <div class="card-body">
                    <h5 class="card-title ms-2 display_name">{{ user_profile.display_name }}</h5>
                    <h6 class="card-title ms-2">@{{ user_profile.username }}</h6>
                    {% if request.user.is_authenticated %}
                        <p class="card-text mt-2 ms-2 user_description">{{ user_profile.user_description }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Most visited area: <span class="most_visited_area">{{ user_profile.most_visited_area }}</span></li>
                            <li class="list-group-item">Languages: <span class="languages">{{ user_profile.languages }}</span></li>
                            <li class="list-group-item">Countries travelled: <span class="countries_traveled">{{ user_profile.countries_traveled }}</span></li>
                            <li class="list-group-item">Joined on: {{ user_profile.created_on|date:"d M. Y" }}</li>
                        </ul>
                        {% if request.user.id == user_profile.username.id %}
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary mt-2" id="edit-profile-btn">Edit Profile</button>
                            </div>
                        {% endif %}
                    {% else %}
                        <p class="card-text mt-2 ms-2">Create an account to see this user description and travel information.</p>
                    {% endif %}  
                </div>
            </div>
        </div>

        <div class="col-md-8 mb-4 pb-5">
            {% if request.user.is_authenticated %}
                {% if request.user.id == user_profile.username.id %}
                <!-- area to create posts if the user is in his profile -->
                    <div class="card mt-3">
                        <h5 class="card-header">Create post - @{{ request.user.username }}</h5>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3 d-flex flex-column justify-content-between">
                                    <div class="mb-3">
                                        {{ post_form.title }}
                                    </div>
                                    <div>
                                        {{ post_form.country }}
                                    </div>
                                </div>
                                <div class="mb-3 d-flex flex-column flex-sm-row justify-content-between">
                                    <div class="btn-group col-12 col-sm mb-3 mb-sm-0">
                                        {{ post_form.tags }}
                                    </div>
                                    <div class="d-none d-sm-block col-sm-1"></div>
                                    <div class="btn-group col-12 col-sm">
                                        {{ post_form.world_area }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        {{ post_form.content }}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center">
                                    <button type="submit" class="btn btn-secondary">Post!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="card mt-3">
                        <h5 class="card-header">This is @{{ user_profile.username }} profile.</h5>
                        <div class="card-body">
                            <h6 class="card-title text-left">To create a post please go to the <a href="{% url 'post_board' %}" class="btn btn-primary">main board</a> or to <a href="{% url 'profile_detail' username=request.user %}" class="btn btn-secondary">your profile</a></h6>  
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="card mt-3">
                    <h5 class="card-header">You are not logged in!</h5>
                    <div class="card-body">
                        <h6 class="card-title text-left">Create an account to post, comment and like posts!</h6>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'account_login' %}" class="btn btn-primary me-1">Login</a> 
                            <a href="{% url 'account_signup' %}" class="btn btn-secondary">Sign-up</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- posts display -->
            {% if user_posts %}
            {% for post in user_posts %}
            <div class="card mt-4">
                <div class="card-header d-flex px-2 px-md-3">
                    <div class="d-flex">
                        <div class="me-1">
                            <a class="profile-link" href="{% url 'profile_detail' username=post.author %}">@{{ post.author }}</a>
                        </div>
                        <div>
                            {{ post.created_on|custom_timesince }}
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="me-1 post-tags">
                            {{ post.tags }}
                        </div>
                        {% if request.user.id == post.author.id %}
                        <div class="btn-group me-0">
                            <button class="btn btn-outline-secondary border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                            <ul class="dropdown-menu post-options">
                                <li><button class="dropdown-item edit-post-btn" data-post-id="{{ post.slug }}">Edit Post</button></li>
                                <li><button class="dropdown-item delete-post-btn" data-post-id="{{ post.slug }}">Delete Post</button></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-left post-title">{{ post.title }}</h5>
                    <div class="d-flex justify-content-start">
                        <span class="badge me-2 post-area">{{ post.world_area }}</span>
                        <span class="badge post-country">{{ post.country }}</span>
                    </div>
                    <p class="card-text text-left mt-1 post-content">
                        {{ post.content }}
                    </p>
                    {% if post.edited %}
                    <p class="fst-italic">(edited)</p>
                    {% endif %}
                </div> 
                <div class="card-footer">
                    {% if user.is_authenticated %}
                    <form method="POST" class="mb-0 me-1">

                        {% csrf_token %} 

                        <input type="hidden" name="blogpost_id_like" value="{{post.slug}}">
                        <button type="submit" class="btn btn-outline-danger">
                            {% if post|user_liked_post:request.user %}
                            <i class="fa-solid fa-heart"></i>
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </button>
                    </form>
                        
                    {% else %}

                    <button type="button" class="btn btn-outline-danger me-1 display-comment-btn" data-post-id="{{ post.id }}">
                        <i class="fa-regular fa-heart"></i>
                        <span class="text-secondary">{{ post.number_of_likes }} </span>
                    </button>
                        
                    {% endif %}
                    
                    <button class="btn btn-outline-primary display-comment-btn" data-post-id="{{ post.id }}">
                        <i class="fa-regular fa-comment"></i> Comment
                    </button>
                </div>
                <div class="card-footer text-body-secondary user-comment-area" data-post-id="{{ post.id }}">
                    {% if user.is_authenticated %}
                    <form method="POST" class="d-flex flex-column align-items-center">
                        {% csrf_token %}
                        
                        <input type="hidden" name="blogpost_id_comment" value="{{post.slug}}">
                        {{ comment_form.body }}
                        <button type="submit" class="btn btn-secondary mt-2 comment-submit">Comment!</button>
                    </form>
                    {% else %}
                    <p>Please <a href="{% url 'account_login' %}">login</a> to be able to like or comment a post</p>
                    {% endif %}
                </div>
                    
                <!-- this is the area for the display of comments -->
                {% for comment in post_comments|key:post.id %}
                <div class="card-footer d-flex flex-column align-items-start px-2 px-md-3">
                    <div>
                        <a class="profile-link" href="{% url 'profile_detail' username=post.author %}">@{{ comment.author }}</a> {{ comment.created_on|custom_timesince }}
                    </div>
                    <div>
                       {{ comment.body }}
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- delete post modal -->
            <div class="modal fade" id="deletePostModal-{{ post.slug }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete post?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure do you want to delete the folloing post:</p>
                            <strong>"{{ post.title }}"</strong>
                        </div>
                        <form method="post" action="{% url 'delete_post' %}" class="modal-footer delete-post-form">
                            {% csrf_token %}
                            <input type="hidden" name="delete_post_id" id="delete-post-id-input-{{ post.slug }}" value="{{post.slug}}">
                            <button type="button" class="btn btn-danger delete-post">Yes, delete my post</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- edit post modal -->
            <div class="modal fade" id="editPostModal-{{ post.slug }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Post: {{ post.title }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post">
                            <div class="modal-body">
                                {% csrf_token %}
                                <div class="d-none edit-post-title-input">
                                    {{ post_form.title }}
                                </div>
                                <div class="mb-3 edit-post-country-input">
                                    {{ post_form.country }}
                                </div>
                                <div class="mb-3 d-flex flex-column flex-sm-row justify-content-between">
                                    <div class="btn-group col-12 col-sm mb-3 mb-sm-0 edit-post-tags-input">
                                        {{ post_form.tags }}
                                    </div>
                                    <div class="d-none d-sm-block col-sm-1"></div>
                                    <div class="btn-group col-12 col-sm edit-post-area-input">
                                        {{ post_form.world_area }}
                                    </div>
                                </div>
                                <div class="mb-3 d-flex edit-post-content-input">
                                    {{ post_form.content }}
                                </div>
                                <div class="d-flex justify-content-end">
                                    <input type="hidden" name="edit_post_id" id="edit-post-id-input-{{ post.slug }}" value="{{post.slug}}">
                                    <button type="submit" class="btn btn-secondary d-flex">Edit post</button>                                        
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="d-flex no-posts mt-3">
                <div class="col">
                    <hr>
                </div>
                <div class="col-5 d-flex justify-content-center align-items-center text-center">
                    {% if request.user.id == user_profile.username.id %}
                    <p class="mb-0">You do no have any posts</p>
                    {% else %}
                    <p class="mb-0">@{{ user_profile.username }} has no posts</p>
                    {% endif %}
                </div>
                <div class="col">
                    <hr>
                </div>
            </div>
            {% endif %}
        </div>     
    </div>

    <!-- Edit profile modal -->
    <div class="modal fade" id="edit-profile-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile - {{ user_profile.username }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="modal-body" method="post">
                    {% csrf_token %}
                    <div class="mb-3 comment-form-divs">
                        <div>
                            <label for="{{ profile_form.display_name.id_for_label }}" class="form-label">Display name:</label>
                            <div class="edit-profile-display_name-input">
                                {{ profile_form.display_name }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 comment-form-divs">
                        <label for="{{ profile_form.most_visited_area.id_for_label }}" class="form-label">Most visited
                            area:</label>
                        <div class="btn-group edit-profile-most_visited_area-input">
                            {{ profile_form.most_visited_area }}
                        </div>
                        <div>
                            <label for="{{ profile_form.countries_traveled.id_for_label }}" class="form-label">Country:</label>
                            <div class="edit-profile-countries_traveled-input">
                                {{ profile_form.countries_traveled }}
                            </div>
                        </div>
                    
                        <div>
                            <label for="{{ profile_form.languages.id_for_label }}" class="form-label">Languages:</label>
                            <div class="edit-profile-languages-input">
                                {{ profile_form.languages }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 comment-form-divs">
                        <label for="{{ profile_form.user_description.id_for_label }}" class="form-label">Describe yourself:</label>
                        <div class="edit-profile-user_description-input">
                            {{ profile_form.user_description }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger me-2" id="delete-profile-btn">Delete Profile</button>
                        <button type="submit" name="edit-profile-id" class="btn btn-success btn-post">Edit Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- delete profile confirmation modal -->
    <div class="modal fade" id="delete-profile-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete profile?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure do you want to delete your profile @{{ user_profile.username }}?</p>
                    <p>Please note that your profile, posts and comments will be permanently deleted.</p>
                </div>
                <form method="post" class="modal-footer justify-content-end">
                    {% csrf_token %}
                    <input type="hidden" name="delete_user_id" value="{{user_profile.username}}">
                    <button type="submit" class="btn btn-danger">Delete Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<!-- to display this "error" card when the profile has not been created -->
<div class="auth-card-container d-flex justify-content-center align-items-center">
    <div class="card auth-card mx-1 mx-sm-5">
        <div class="card-body">
            <h5 class="card-title">@{{ user_profile.username }}'s profile has not been created yet!</h5>
            {% if request.user.is_authenticated and request.user == user_profile.username %}
            <!-- if the same user is trying to access, redirection to create profile -->
            <p class="text-body-secondary">Please complete creating your profile to be able to access it.</h6>
            <div class="d-flex justify-content-end mt-2">
                <a class="btn btn-primary" href="{% url 'create_profile' username=request.user %}">Create Profile!</a>
            </div>
            {% elif request.user.is_authenticated %}
            <!-- if another user tries to access a non-creted profile, redireciton to other pages -->
            <p class="text-body-secondary">Until @{{ user_profile.username }} does not create their profile you wont be able to see their information nor their posts. For now you can check out other users in the main board.</p>
            <div class="d-flex justify-content-between mt-2">
                <a class="btn btn-secondary" href="{% url 'post_board' %}">Main board</a>
                <a class="btn btn-primary" href="{% url 'profile_detail' username=request.user %}">Your profile</a>
            </div>
            {% else %}
            <!-- if another user tries to access a non-creted profile, redireciton to other pages -->
            <p class="text-body-secondary">Until @{{ user_profile.username }} does not create their profile you wont be able to see their information nor their posts. For now you can check out other users in the main board.</p>
            <div class="d-flex justify-content-between mt-2">
                <a class="btn btn-secondary" href="{% url 'post_board' %}">Main board</a>
                <a class="btn btn-primary" href="{% url 'account_signup' %}">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}